{
    "plugins": [
        "react"
    ],
    "parser": "@babel/eslint-parser",
    "env": {
        "es6":     true,
        "browser": true,
        "node":    true,
        "mocha":   true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "max-len": [1, 140, 2, {"ignoreComments": true}],
        "no-unused-vars": "warn"
    }
}